@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fdfeff;
}

/* === NAVBAR === */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 100px;
    margin-bottom: 5em;
}

nav img {
    width: 7em;
}

nav div a {
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
}

nav div a:hover {
    color: black;
}

nav div a:last-child {
    border: 1px solid #056beb;
    padding: 10px 25px;
    border-radius: 10px;
    color: #056beb;
}

/* === BUTTONS === */

button {
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #09bdf8, #0563ea);
    color: white;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #0091c1, #0055cb);
}

/* === PAGE 1 === */

.page-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 75px;
    margin-bottom: 10em;
}

.page-1 div h1 {
    font-size: 3.5em;
    color: #233147;
    padding-bottom: 30px;
}

.page-1 div p {
    color: gray;
    line-height: 2em;
    padding-bottom: 40px;
}

/* === PAGE 2 === */

.page-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 75px;
    margin-bottom: 8em;
}

.page-2 div p {
    color: gray;
    line-height: 2em;
    padding-bottom: 30px;
}

.page-2 div h1 {
    font-size: 3.5em;
    color: #233147;
    padding-bottom: 40px;
}

/* === PAGE 3 === */

.page-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 75px;
    margin-bottom: 12em;
}

.page-3 div h1 {
    font-size: 3.5em;
    color: #233147;
    padding-bottom: 30px;
}

.page-3 div p {
    color: gray;
    line-height: 2em;
    padding-bottom: 40px;
}

/* === PAGE 4 === */

.page-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10em;
}

.page-4 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 75px;
}

.page-4 div h1 {
    font-size: 3em;
    color: #233147;
}

.page-4 div p {
    color: gray;
    line-height: 2em;
}

/* === PAGE 5 === */

.page-5 {
    background-image: linear-gradient(to bottom right, #09bdf8, #0563ea);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
    /* margin-bottom: 5em; */
    position: relative;
}

.page-5 h1 {
    padding: 1.5em 0em;
    color: white;
}

.page-5 div {
    position: absolute;
    bottom: 7.5em;
}

.page-5 div button:nth-child(2) {
    margin: 0 16em;
}

.page-5 div button:first-child, .page-5 div button:last-child {
    background-image: linear-gradient(to right, white, white);
    border: 1px solid #056beb;
    padding: 15px 30px;
    border-radius: 10px;
    color: #056beb;
}